.home1{
background:none
}



.homeherotext{
  color: #000000
}

.homeherotextsubtitle{
  color: #000000

}

.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
}

.home3{

}

header{
  display: none
}
